<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<footer th:fragment="footer"
		class="bg-dark text-white text-center py-3 mt-5">

    <div class="container">

        <p class="mb-1">
            🌱 Plantas Online
        </p>

        <p class="mb-0">
            © 2026 Todos los derechos reservados
        </p>

    </div>
	<script th:src="@{/bootstrap/js/bootstrap.bundle.js}"></script>
</footer>
</body>
</html>