<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Plantas Online</title>
	<!-- BOOTSTRAP -->
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.css}">
    <!-- CSS para el index -->
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <!-- JS BOOTSTRAP -->
    <script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
</head>
<body>

</body>
</html>