<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Carrito</title>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">

</head>

<body>

	<div class="container mt-4">

		<h1>Carrito de Compras</h1>

		<table class="table">

			<thead>
				<tr>
					<th>Producto</th>
					<th>Precio</th>
				</tr>
			</thead>

			<tbody>

				<tr th:each="p : ${carrito}">
					<td th:text="${p.nombre}"></td>
					<td th:text="${p.precio}"></td>
				</tr>

			</tbody>

		</table>

		<h3>Total: S/. <span th:text="${total}"></span></h3>

		<br>

		<a href="/pedido/confirmar" class="btn btn-success">
			Confirmar Pedido
		</a>

		<a href="/productos" class="btn btn-secondary">
			Seguir comprando
		</a>

	</div>

</body>

</html>